@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans:wght@300&family=Roboto+Mono:wght@500&family=Roboto+Slab:wght@200&family=Roboto:wght@500&family=Russo+One&display=swap');

body{
  background-color: #1A023D;
  font-family: 'Inter', sans-serif;
  letter-spacing: 2px;
}